h1{
padding-bottom: 0.3em;
font-size: 1.5em;
border-bottom:1px solid #ffffff;
width:70vh;
display:block;
margin:0 auto;
}
body{
margin-top:20px;
margin-left:0;
margin-right:0;
border:8px #252525;
text-align: center;
background-color:#252525;
}
img{
max-width: 100%;
max-height: 100vh;
height: auto;
}